---
import BlogFeedCard from "./BlogFeedCard.astro";
import { client } from "../lib/sanity";
import type { BlogPost } from "../types/sanity";

// Fetch blog posts from Sanity
const blogPosts = await client.fetch<BlogPost[]>(`
  *[_type == "blogPost" && defined(slug.current)] | order(publishedAt desc)[0...6] {
    _id,
    title,
    slug,
    excerpt,
    publishedAt,
    cardVariant,
    featuredImage {
      asset->{
        _id,
        url
      },
      alt,
      caption
    },
    "author": author->{
      _id,
      name,
      slug,
      image {
        asset->{
          _id,
          url
        }
      }
    },
    categories[]->{
      _id,
      title,
      slug
    }
  }
`);
---

<div class="blog__feed">
  {
    blogPosts.map((post: BlogPost) => (
      <BlogFeedCard
        title={post.title}
        excerpt={post.excerpt || ""}
        publishedAt={post.publishedAt}
        slug={post.slug.current}
        featuredImage={post.featuredImage}
        author={post.author}
        categories={post.categories}
        variant={post.cardVariant || "editorial"}
      />
    ))
  }
</div>

<style>
  .blog__feed {
    margin: 0 1rem;
  }
</style>
